body {

    background-color: #dddddd;
    font-family: arial, helevetica, sans-serif;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.bookHeadline {
    font-size: 12pt;
    font-weight: bold;
}

.bookDescription {
    font-size: 10pt;
}

label {
    font-weight: bold;
}